<div class="post">
  <% allPosts.reverse().forEach(post=> { %>
  <div class="postContainer">
    <% if(Array.isArray(post.creator)) {%>
       <% post.creator = post.creator[0] %>
    <%}%>
    <a href="/users/<%= post.creator._id %>" style="display: flex; align-items: center; justify-content: left;"><img src="<%= post.creator.iconURL %>" alt="icon" id="profileicon"><h2><%= post.creator.username %></h2></a>
    
    <a href="/posts/<%= post._id %>"><h3><%= post.title %></h3>
    
    <% if (post.image) { %>
    <img src="<%= post.image %>" alt="image" srcset="" width="500px" />
    <% } %>
    </a>

    <p><%= post.content %></p>
    <div style="display: flex; gap: 20px">
        <form action="/posts/like/<%= post._id %>" method="post">
            <input type="submit" value="Likes: <%= post.likes.length %>"/>
        </form>
        <form action="/posts/dislike/<%= post._id %>" method="post">
            <input type="submit" value="Dislikes: <%= post.dislikes.length %>"/>
        </form>
    </div>
  </div>
  <hr>
  <% }); %>
</div>
