<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= viewedUser.username %>'s profile</title>
    <link rel="stylesheet" href="/styledark.css" id="style"/>
    <link rel="shortcut icon" href="/logozoom.png" type="image/x-icon">

  </head>
  <body>
    <%- include("../partials/navbar.ejs") %>

    <div class="container">
      <div style="display: flex; flex-direction: column; gap: 1px; justify-content: center; align-self:flex-start; align-items: start; margin-top: 50px;">
        <img
          src="<%= viewedUser.iconURL %>"
          alt="icon"
          id="icon"
          style="width: 150px; height: 150px;"
        />
        <h3><%= viewedUser.username %></h3>
        <p id="description"><%= viewedUser.description %></p>
        <% if (user) { %>
        <% if (user._id != viewedUser._id) { %>
        <form action="/users/follow/<%= viewedUser._id %>" method="post">
          <input type="submit" value="Followers: <%= viewedUser.followers.length %>" />
        </form>
        <% } else{ %>
            <h3>Followers: <%= viewedUser.followers.length %></h3>
          <a href="/users/update/<%= viewedUser._id %>">update profile</a>

          <% } %>

        <% } %>
      </div>
      <%- include("../partials/postPartial.ejs") %>
    </div>
  </body>
</html>
