<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= viewedUser.username %>'s profile</title>
    <link rel="stylesheet" href="/styledark.css" id="style"/>
    <link rel="shortcut icon" href="/logozoom.png" type="image/x-icon">

  </head>
  <body>
    <%- include("../partials/navbar.ejs") %>

    <div class="container">
      <div style="display: flex; flex-direction: column; gap: 1px; justify-content: center; align-self:flex-start; align-items: start;">
        <img
          src="<%= viewedUser.iconURL %>"
          alt="icon"
          id="icon"
          width="75px"
        />
        <h3><%= viewedUser.username %></h3>
        <% if (user) { %>
            <form action="/users/<%= viewedUser._id %>?_method=PUT" method="post" enctype="multipart/form-data" style="display: block; width: fit-content;">
                <label for="username">username: </label>
                <input type="text" name="username" id="username" value="<%= viewedUser.username %>" required>

                <label for="description">description: </label>
                <br>
                <textarea type="text" name="description" id="description" style="width: 100%;"><%= viewedUser.description %></textarea>

                <br>
                <label for="iconURL">Icon: </label>
                <input type="file" name="iconURL" id="iconURL" accept="image/*">

                <input type="submit" value="update profile">
            </form>

        <%} %>

      </div>
    </div>
  </body>
</html>
