<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Post Details</title>
    <link rel="stylesheet" href="/styledark.css" id="style"/>
    <link rel="shortcut icon" href="/logozoom.png" type="image/x-icon">

  </head>
  <body>
    <%- include("../partials/navbar.ejs") %>

    <div class="post postContainer" >
      <a href="/users/<%= post.creator._id %>" style="display: flex; align-items: center; justify-content: left;"><img src="<%= post.creator.iconURL %>" alt="icon" id="profileicon"><h2><%= post.creator.username %></h2></a>
      <h3><%= post.title %></h3>
      <% if (post.image) { %>
      <img src="<%= post.image %>" alt="image" srcset="" width="500px" />
      <% } %>

      <p>Content: <%= post.content %></p>
      <% if (user) { %> 
        
      <div style="display: flex; gap: 20px">
        <form action="/posts/like/<%= post._id %>" method="post">
          <input type="submit" value="Likes: <%= post.likes.length %>" />
        </form>
        <form action="/posts/dislike/<%= post._id %>" method="post">
          <input type="submit" value="Dislikes: <%= post.dislikes.length %>" />
        </form>
        <% if (post.creator._id == user._id) { %>
          <form action="/posts/update/<%= post._id %>" method="get">
              <input type="submit" value="Update Post" />
          </form>
          <form action="/posts/delete/<%= post._id %>" method="get">
              <input type="submit" value="Delete Post" />
          </form>
      <% } %>
      </div>
      <% } %>
      <hr />
      <div>
        <h3>comments</h3>
        <form action="/posts/comment/<%= post._id %>" method="post" style="width: 99.5%;">
          <label for="content">Comment content: </label>
          <textarea type="text" name="content" id="content" minlength="1"></textarea>

          <input type="submit" value="post comment" />
        </form>
        <% post.comments.reverse().forEach(comment => { %>
          <hr>
        <a href="/users/<%= comment.commenter._id %>">
          <div style="display: flex; align-items: center; justify-content: left">
            <img
              src="<%= comment.commenter.iconURL %>"
              alt="user icon" width="35px" height="35px"
            /> &nbsp;
            <h4><%= comment.commenter.username %></h4>
          </div>
        </a>
        <p style="margin: 0px;"><%= comment.content %></p>

        <% }); %>
      </div>
    </div>
  </body>
</html>
